.container{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 6px 0;
  box-sizing: border-box;
}
.items-ct{
}
.file-item{
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 1px 5px 0px 5px;
}
.file-icon-ct{
  margin: auto;
  width: 94px;
  height: 94px;
  z-index: 1;
  position: relative;
}
.icon-img{
  width: 100%;
  height: 100%;
  margin: auto;
}
.item-check{
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
}
.file-bg{
  position: absolute;
  z-index: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
}
.item-check:hover:not(:checked)~.file-bg{
  background-color: rgba(153, 209, 255, 0.3);
}
.item-check:checked~.file-bg{
  background-color: rgba(153, 209, 255, 0.5);
  outline: 1px solid rgba(153, 209, 255);
}
.file-item.selected>.item-check~.file-bg{
  background-color: rgba(153, 209, 255, 0.5);
  outline: 1px solid rgba(153, 209, 255);
}
.file-name{
  max-height: 32px;
  overflow: hidden;
  width: 98px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  font-size: 12px;
  color: #000;
  z-index: 1;
  position: relative;
}
.file-name:before{
  content: attr(data-title);
  overflow: hidden;
  height: 100%;
  width: 100%;
}
