:global(#start_menu_switch_X7VIV):checked+.start-menu{
  /* height: 85%;
  visibility: visible;
  min-height: 400px;
  opacity: 1;
  transition: height,opacity,visibility 0.5s,0.5s,0.5s;
  transition-timing-function: cubic-bezier(0, 1, 0, 1); */
}
.start-menu{
  position: absolute;
  z-index: 999900;
  bottom: 40px;
  height: 0;
  max-height: 900px;
  width: 950px;
  background-color: rgba(38, 47, 59, 0.98);
  transition: height,opacity,visibility 0.1s,0.1s,0.1s;
  transition-timing-function: cubic-bezier(1, 0, 1, 0);
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
  flex-direction: row;
}
.item:hover{
  background-color: rgba(255, 255, 255, 0.1);
}
.item:active{
  background-color: rgba(255, 255, 255, 0.15);
}
.column-1{
  height: 100%;
  overflow: hidden;
  width: 46px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 5px;
  box-sizing: border-box;
}
.column-2{
  height: 100%;
  overflow: hidden;
  width: 233px;
  padding-right: 15px;
  position: relative;
}
.column-3{
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-right: 15px;
  box-sizing: border-box;
  flex: 1;
}
.item-c1{
  width: 46px;
  height: 46px;
}
.icon-ct-c1{
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  margin: auto;
  top: 50%;
  transform: translate(0,-50%);
  overflow: hidden;
}
.item-c2{
  height: 34px;
  width: 233px;
  box-sizing: border-box;
  padding: 2px 5px 2px 16px;
  position: relative;
}
.item-c2:not(.section-title):before{
  content: attr(data-title);
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
  position: absolute;
  width: 175px;
  height: 30px;
  left: 54px;
}
.item-c2.section-title:before{
  content: attr(data-title);
  font-size: 12px;
  line-height: 35px;
}
.item-c2.section-title:active{
  margin-left: 2px;
  margin-right: 2px;
}
.icon-ct-c2{
  height: 30px;
  width: 30px;
  background-color: #515c6b;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.content-c2{
  height: 100%;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 8px 20px 60px 0;
  box-sizing: border-box;
}
.content-c3{
  height: 100%;
  width: 110%;
  padding-right: 50px;
  overflow: hidden;
  overflow-y: scroll;
}
.c3-column{
  width: 322px;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 5px 10px 5px;
  vertical-align: top;
}
.box-group{
  display: inline-block;
  margin-bottom: 20px;
}
.group-title{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  padding-left: 2px;
}
.group-content{
  display: flex;
  flex-wrap: wrap;
}
.box{
  display: inline-block;
  margin: 2px;
  box-sizing: border-box;
  position: relative;
  overflow: visible;
}
.box-content:hover, .box-face:hover{
  outline: 2px solid #bdbdbd;
  outline-offset: -2px;
}
.box-content:active, .box-face:active{
  outline: unset;
}
.box:not(.box-ct):active{
  transform: scale(0.98);
}
.box-ct{
  background-color: transparent!important;
  position: relative;
}
.box-ct>.box-r{
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}
.box-ct>.box-r>.box-1:nth-child(1){
  margin: 0 2px 2px 0;
}
.box-ct>.box-r>.box-1:nth-child(2){
  margin: 0 0 2px 2px;;
}
.box-ct>.box-r>.box-1:nth-child(3){
  margin: 2px 2px 0 0;
}
.box-ct>.box-r>.box-1:nth-child(4){
  margin: 2px 0 0 2px;
}
.box-null{
  background-color: transparent!important;
  pointer-events: none;
}
.box-1{
  width: 48px;
}
.box-4{
  width: 100px;
}
.box-8{
  width: 204px
}
.box-8>.box-r{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0;
}
.box-8>.box-h{
  width: 50%;
  display: inline-block;
}
.box-4:before, .box-8>.box-h:before, .box-ct:before, .box-1:before{
  content: "";
  display: inline-block;
  padding-bottom: 100%;
  vertical-align: middle;
}
.box-4:after, .box-8>.box-r:after{
  content: attr(data-title);
  font-size: 11px;
  position: absolute;
  bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 0 6px;
  box-sizing: border-box;
  pointer-events: none;
  z-index: 100;
}
.box-face, .box-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position:center;
  background-size: auto 100%;
}
.box-8 .box-face, .box-8 .box-content{
  background-size: 100% auto;
}
.box-content:not(.box-3D){
  background-color: #515c6b;
  overflow: hidden;
}
.box-face{
  overflow: hidden;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.box-3D{
  background-color: transparent;
  transform-style: preserve-3d;
  perspective: 500px;
}
.box-animation{
  opacity: 0;
}
:global(#start_menu_switch_X7VIV):checked+.start-menu .box-animation{
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.box-3D .box-face{
  transform-origin: 50px 50px -28.68px;
  background-color: #515c6b;
  transform: rotateX(-120deg);
  visibility: hidden;
}

.column-switch, .switch-responser{
  position: absolute;
  display: none;
  margin: 0;
  width: 50%;
  height: 35px;
  top: 0;
  z-index: 4;
  transition: all 0.15s;
}
.column-switch{
  opacity: 0;
}
.switch-responser{
  background-color: rgb(38, 47, 59);
  opacity: 0.5;
  z-index: 3;
}
.column-switch:checked+.switch-responser{
  background-color: rgb(49, 59, 72);
  box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.7) inset;
}
.column-switch:hover+.switch-responser{
  background-color: rgba(255, 255, 255, 0.15);
}
.switch-2, .switch-2+.switch-responser{
  left: 50%;
}
@media (max-width: 930px) {
  .start-menu{
    width: 627px;
  }
}
@media (max-width: 590px){
  .column-switch, .switch-responser{
    display: block;
  }
  .start-menu{
    width: 340px;
  }
  .column-1, .column-2, .column-3{
    position: absolute;
    transition: left 0.2s ease-out;
    padding-top: 38px;
  }
  .column-1{
    left: -279px;
  }
  .column-2{
    left: -233px;
  }
  .column-3{
    left: 340px;
  }
  .switch-1:checked~.column-1{
    left: 0;
  }
  .switch-1:checked~.column-2>.scrollbar, .switch-2:checked~.column-3>.scrollbar{
    left: 2px;
  }
  .switch-1:checked~.column-2{
    left: 64px;
    padding-left: 18px;
  }
  .switch-2:checked~.column-3{
    left: 0;
    padding-left: 18px;
  }
}
.column-2:hover>.scrollbar, .column-3:hover>.scrollbar{
  opacity: 1;
  transition: opacity 0.05s;
}
.scrollbar:hover .slot-up, .scrollbar:hover .slot-down{
  opacity: 1;
  margin-left: 0;
  width: 100%;
}
.scrollbar:hover .slot-middle{
  width: 100%;
  margin-left: 0;
  background-color: rgba(255,255,255,0.25);
}
.scrollbar:hover>.scroll-btn{
  opacity: 1;
}
.scrollbar.dragging{
  opacity: 1;
  transition: none;
}
.scrollbar.dragging .slot-up, .scrollbar.dragging .slot-down{
  opacity: 1;
  margin-left: 0;
  width: 100%;
  transition: none;
}
.scrollbar.dragging .slot-middle{
  width: 100%;
  margin-left: 0;
  background-color: rgba(255,255,255,0.25);
  transition: none;
}
.scrollbar.dragging>.scroll-btn{
  opacity: 1;
  transition: none;
}
.scrollbar{
  height: 100%;
  width: 13px;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 2px;
  transition: opacity 0.2s;
}
.scroll-btn{
  width: 13px;
  height: 13px;
  opacity: 0;
  transition: opacity 0.2s;
}
.scroll-btn:hover{
  background-color: rgba(255,255,255,0.15);
  box-shadow: 0 0 1px 0px rgba(255,255,255,0.10);
}
.scroll-btn:active{
  background-color: rgba(255,255,255,0.45);
  box-shadow: 0 0 1px 0px rgba(255,255,255,0.35);
}
.scroll-btn:active>.scroll-angle:before, .scroll-btn:active>.scroll-angle:after{
  background-color: #262f3b;
}
.scroll-angle{
  opacity: 0.7;
}
.scroll-control{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.slot-up{
  width: 100%;
  background-color: rgba(255,255,255,0.1);
  transition: opacity 0.2s;
  opacity: 0;
  width: 2px;
  margin-left: 11px;
  transition: opacity,width,margin-left 0.15s,0.15s,0.15s;
}
.slot-down{
  width: 100%;
  flex: 1;
  background-color: rgba(255,255,255,0.1);
  opacity: 0;
  width: 0;
  margin-left: 100%;
  transition: opacity,width,margin-left 0.15s,0.15s,0.15s;
}
.slot-middle{
  height: 70px;
  background-color: rgba(255,255,255,0.55);
  box-shadow: 0 0 1px 0px rgba(255,255,255,0.35);
  width: 2px;
  margin-left: 11px;
  transition: width,margin-left 0.15s,0.15s;
}
.slot-middle:hover{
  background-color: rgba(255,255,255,0.35)!important;
}
.slot-middle:active{
  background-color: rgba(255,255,255,0.45)!important;
}
