.taskbar {
  display: flex;
  position: fixed;
  z-index: 9999998;
  bottom: 0;
  height: 40px;
  width: 100%;
  background: rgba(30, 37, 46, 0.85);
}
.tb-left, .tb-task {
  display: flex;
  flex: 1;
}
.tb-left, .tb-right{
  height: inherit;
}
.tb-sys{
  display: flex;
}
.tb-sys, .tb-task {
  margin-right: 4px;
}
.item{
  margin-right: 1px;
  height: inherit;
  display: inline-block;
  width: 48px;
  overflow: hidden;
  position: relative;
}
.item:hover{
  background: rgba(255, 255, 255, 0.08);
}
.item:active{
  background: rgba(255, 255, 255, 0.03);
}
.item-cortana:active{
  background: rgba(255, 255, 255, 0.13);
}
.item-menu, .item-cortana{
  margin-right: 0;
  width: 48px;
}
.item-task{
  max-width: 48px;
  min-width: 35px;
  height: 100%;
  flex: 1;
  position: relative;
}
.item-task:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%,0);
  display: inline-block;
  width: 88%;
  height: 7.5%;
  background-color: #8a9db6;
  transition: width 0.2s;
}
.item-task:hover:before {
  content: '';
  width: 100%;
}
.icon-ct{
  display: block;
  position: relative;
  width: 30px;
  height: 100%;
  overflow: hidden;
  margin: auto;
}

:global(#start_menu_switch_X7VIV):hover~.taskbar .item-menu {
  background: rgba(255, 255, 255, 0.08);
}
:global(#start_menu_switch_X7VIV):active~.taskbar .item-menu {
  background: rgba(255, 255, 255, 0.03);
}
:global(#start_menu_switch_X7VIV):checked~.taskbar .item-menu {
  background: rgba(255, 255, 255, 0.17);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
:global(#start_menu_switch_X7VIV):checked:active~.taskbar .icon-start-menu:before {
  background: #515c6b;
  color: #515c6b;
}
:global(#start_menu_switch_X7VIV):hover~.taskbar .icon-start-menu:before {
  background: #6e7d91;
  color: #6e7d91;
}
.task-switch{
  display: none;
  margin: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}
.switch-responser{
  position: absolute;
  z-index: -1;
  left: 96px;
  display: none;
  left: 0;
  width: 100%;
  height: 100%;
}
.switchAU{
  left: 10px!important;
}
.tasks-ct{
  display: flex;
  flex: 1;
  position: relative;
  margin-right: 1px;
}
.task-switch:hover~.switch-responser{
  background: rgba(255, 255, 255, 0.12);
}
.task-switch:active~.switch-responser{
  background: rgba(255, 255, 255, 0.07);
}
.task-switch:checked~.switch-responser{
  background: rgba(255, 255, 255, 0.12);
}
.task-switch:checked:active~.switch-responser{
  background: rgba(255, 255, 255, 0.07)!important;
}
.task-switch:checked:hover~.switch-responser{
  background: rgba(255, 255, 255, 0.18);
}
.tb-tasks{
  display: block;
}
@media (max-width: 486px) {
  .task-switch{
    display: block;
  }
  .switch-responser{
    display: block;
  }
  .tb-tasks {
    position: absolute;
    bottom: 40px;
    flex-wrap: wrap;
    width: 240px;
    height: auto;
    background: rgba(30, 37, 46, 0.85);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);;
    z-index: -10;
    display: none;
  }
  .tb-tasks>.item-task{
    min-width: 40px;
    height: 40px;
  }
  .task-switch:checked~.tb-tasks{
    display: block;
  }
  #items-task-switch{
    display: inline-block;
  }
  #act-hover-items-task-switch{
    width: 200px;
    display: inline-block;
  }
  #items-task-switch:checked~.tb-task.resp-pos486{
    display: none;
  }
}

.tb-right>.item, .tbg{
  float: right;
}
.show-desktop{
  width: 5px;
  border-left: 1px solid #999;
}
.operations{
  width: 42px;
  margin-right: 8px;
}
.date-time{
  height: 50%;
  font-size: 12px;
  color: #fff;
  text-align: center;
  line-height: 150%;
}
.dtp:active, .operations:active{
  background: rgba(200, 200, 200, 0.18);
}
.dtp{
  width: 76px;
}
.tb-bg{
  width: auto;
  height: 100%;
  display: inline-block;
}
.item-bg{
  width: 23px;
  height: 100%;
  display: inline-block;
}
.item-bg:hover{
  background: rgba(200, 200, 200, 0.12);
}
.item-bg:active{
  background: rgba(200, 200, 200, 0.07);
}
.icon-ct-bg{
  display: block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  margin: auto;
  margin-top: 8px;
}
.item-bg-hidden-switch{
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  z-index: 1;
}
.bg-switch-response{
  width: 100%;
  height: 100%;
  position: absolute;
}
.item-bg-hidden-switch:checked~.items-bg-hidden {
  display: flex;
}
.item-bg-hidden-switch:hover~.bg-switch-response{
  background: rgba(255, 255, 255, 0.12);
}
.item-bg-hidden-switch:active~.bg-switch-response{
  background: rgba(255, 255, 255, 0.07);
}
.items-bg-hidden-ct{
  height: 100%;
  width: 23px;
  position: relative;
  display: inline-block;
}
.items-bg-hidden{
  display: none;
  flex-wrap: wrap;
  position: absolute;
  bottom: 40px;
  background: rgba(52, 61, 73, 0.9);
  box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
  width: 160px;
  transform: translateX(-43%);
}
.item-bg-h{
  width: 40px;
  height: 40px;
  margin: 0;
  position: relative;
}
.items-bg-ct{
  display: inline-block;
  height: 100%;
}
.items-bg-ct>.item{
  float: right;
}
.item-bg-lang{
  font-size: 16px;
  color: #fff;
  display: block;
  text-align: center;
}
.items-bg-hidden .shrink {
  display: none;
}
@media (max-width: 640px) {
  .shrink.item-bg {
    display: none;
  }
  .items-bg-hidden .shrink {
    display: inline-block;
  }
}
