.window-ct{
  position: absolute;
  z-index: 106;
}
.window{
  position: absolute;
  cursor: default;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid;
  min-width: 170px;
  min-height: 130px;
  background-color: #515c6b;
  color: #515c6b;
  visibility: hidden;
  width: 600px;
  height: 400px;
  top: 50px;
  left: 70px;
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  overflow: visible;
}
.content{
  width: 100%;
  height: 100%;
  flex: 1;
  background: #fff;
  z-index: 5;
  overflow: auto;
}
.label{
  height: 26px;
  width: 100%;
  margin-top: 3px;
  display: flex;
  z-index: 8;
  color: #fff;
}
.shadow.top{
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shadow.left{
  opacity: 1;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
.shadow.right{
  opacity: 1;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
}
.shadow.top.left, .shadow.top.right{
  width: 50%;
  height: 50%;
}
.shadow{
  opacity: 0;
  z-index: 105;
  position: absolute;
  box-sizing: border-box;
  padding: 7px;
  display: none;
  visibility: visible;
  width: 0;
  height: 0;
  transition: all 0.2s;
  transition-timing-function: ease-out;
}
.shadow-inner{
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.15);
}
.label-icon{
  min-width: 20px;
  width: 20px;
  height: 20px;
  z-index: 2;
  margin: 1px 4px 5px 2px;
  display: block;
  overflow: hidden;
  position: relative;
}
.window.deselected>.label, .window.deselected>.btn-group{
  color: #999;
}
.window.deselected{
  background-color: #fff;
  color: #999;
}
.label-name{
  height: 26px;
  display: block;
  line-height: 22px;
  flex: 1;
  padding-right: 8px;
}
.label-name:before{
  content: attr(data-title);
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 350px;
}
.btn-group{
  position: absolute;
  float: right;
  top: -1px;
  right: 0;
  z-index: 10;
  color: #fff;
  background-color: inherit;
}
.btn{
  width: 46px;
  height: 30px;
  line-height: 29px;
  text-align: center;
  transition: background-color 0.15s;
  display: inline-block;
  position: relative;
}
.btn:hover{
  background-color: rgba(255, 255, 255, 0.15);
}
.btn:active{
  background-color: rgba(255, 255, 255, 0.25);
  transition: none;
}
.btn-minimise:before{
  content: "";
  position: absolute;
  border-top: 4px solid;
  width: 45px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(.25);
}
.btn-maximise:before{
  content: '';
  position: absolute;
  border: 3px solid;
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.27);
}
.btn-maximise.restore:before{
  content: '';
  position: absolute;
  border: 3px solid;
  width: 30px;
  height: 30px;
  top: 53%;
  left: 48%;
  transform: translate(-50%,-50%) scale(0.25);
}
.btn-maximise.restore:after{
  content: "";
  position: absolute;
  border: 4px solid;
  width: 37px;
  height: 37px;
  top: 47%;
  left: 52%;
  border-radius: 40% 0 40% 75%;
  border-bottom-color: transparent;
  border-left-color: transparent;
  transform: translate(-50%,-50%) scale(.25);
}
.btn-close:hover{
  background-color: rgb(218, 54, 54);
}
.btn-close:active{
  background-color: rgba(218, 54, 54, 0.7);
}
.btn-close:before{
  content: '';
  position: absolute;
  border-left: 3px solid;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg) scale(0.33);
}
.btn-close:after{
  content: '';
  position: absolute;
  border-left: 3px solid;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg) scale(0.33);
}
.window.deselected .btn:hover{
  background-color: rgba(0,0,0,0.1);
  color: rgb(0,0,0);
}
.window.deselected .btn.btn-close:hover{
  background-color: rgb(218, 54, 54);
  color: #fff;
}
.resize{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.bar-left{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 7px;
  cursor: ew-resize;
  left: -7px;
}
.bar-right{
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 7px;
  cursor: ew-resize;
  right: -7px;
}
.bar-top{
  position: absolute;
  z-index: 1;
  height: 7px;
  width: 100%;
  cursor: ns-resize;
  top: -4px;
}
.bar-bottom{
  position: absolute;
  z-index: 1;
  height: 7px;
  width: 100%;
  cursor: ns-resize;
  bottom: -7px;
}
.dot-left-top{
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  cursor: nw-resize;
  top: -5px;
  left: -5px;
}
.dot-left-bottom{
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  cursor: sw-resize;
  bottom: -5px;
  left: -5px;
}
.dot-right-top{
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  cursor: ne-resize;
  right: -5px;
  top: -5px;
}
.dot-right-bottom{
  position: absolute;
  z-index: 2;
  width: 7px;
  height: 7px;
  cursor: nw-resize;
  right: -5px;
  bottom: -5px;
}
